<meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <div class="logo" [@enter]>
      <h2>Logical Force of Ukraine</h2>
      <img src="../../assets/Logo.png">
    </div>
    <div class="icon_btns">
      <button [@enter] (mouseenter) ="mouseEnter_icon_1()" [@rubberBand]="header_icon_1" [@click]="header_icon_1_click" (click)="mouseClick_icon_1()" style="background-image:url('../../assets/Comments-header__icon.png')"></button>
      <button [@enter] (mouseenter) ="mouseEnter_icon_2()" [@rubberBand]="header_icon_2" [@click]="header_icon_2_click" (click)="mouseClick_icon_2()" style="background-image:url('../../assets/Toolbox-header__icon.png')"></button>
      <button [@enter] (mouseenter) ="mouseEnter_icon_3()" [@rubberBand]="header_icon_3" [@click]="header_icon_3_click" (click)="mouseClick_icon_3()" style="background-image:url('../../assets/User-header__icon.png')"></button>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li><a routerLink="home">Головна</a></li>
    <li><a routerLink="technic">Техніка</a></li>
    <li><a routerLink="missions">Наряди</a></li>
  </ul>

  </section>
 