@use 'sass:map';
@import "../../styles.scss";

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

header {
    background-color: $header_color;
    @include for-size(for-big-6) {height: 75px;}
    @include for-size(for-laptops) {height: 75px;}
    @include for-size(for-big-3) {height: 100px;}
    @include for-size(for-big-1) {height: 100px;}
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px; padding-right: 200px;
    position: fixed;
    width: 100%;
    z-index: 1500;

    .logo {
        @include for-size(for-big-6) {padding-top: 18.5px;}
        @include for-size(for-laptops) {padding-top: 18.5px;}
        @include for-size(for-big-3) {padding-top: 31px;}
        @include for-size(for-big-1) {padding-top: 31px;}
        color: $font_white;
        font-size: 38px;
    }

    .navbar {
        @include for-size(for-big-6) {padding-left: 18vw; padding-top: 27.5px;}
        @include for-size(for-big-5) {padding-left: 20vw; padding-top: 27.5px;}
        @include for-size(for-big-4) {padding-left: 22vw; padding-top: 27.5px;}
        @include for-size(for-laptops) {padding-left: 23vw; padding-top: 27.5px;}
        @include for-size(for-big-3) {padding-left: 24vw; padding-top: 40px;}
        @include for-size(for-big-2) {padding-left: 26vw; padding-top: 40px;}
        @include for-size(for-big-1) {padding-left: 28vw; padding-top: 40px;}
        
    }

    a {
        color: $font_white;
        text-decoration: none;
        padding-right: 40px;
        font-size: 20px;

        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
    
    a:hover {
        color: $orange_color;
        background-size: 60% 2px;
    }
        
    .icon_btns{
        @include for-size(for-big-6) {padding-left: 11vw; padding-top: 22.5px;}
        @include for-size(for-big-5) {padding-left: 13vw; padding-top: 22.5px;}
        @include for-size(for-big-4) {padding-left: 15vw; padding-top: 22.5px;}
        @include for-size(for-laptops) {padding-left: 16vw; padding-top: 22.5px;}
        @include for-size(for-big-3) {padding-left: 17vw; padding-top: 35px;}
        @include for-size(for-big-2) {padding-left: 19vw; padding-top: 35px;}
        @include for-size(for-big-1) {padding-left: 21vw; padding-top: 35px;}
        button{
            height: 30px;
            width: 30px;
            background-color: $transparent_color;
            border: none;
            background-size: cover;
            margin-right: 16px;
            cursor: pointer;
            filter: brightness(0) invert(1);

            -webkit-transition-duration: 0.9s;
            transition-duration: 0.9s;
        }
        button:hover{
            filter: none;
        }
    }
}

