<header>
    <div class="logo">LOGO</div>
    <div class="navbar">   
        <a routerLink="home">Головна</a>
        <a routerLink="technic">Техніка</a>
        <a routerLink="missions">Наряди</a>
    </div>
    <div class="icon_btns">
        <button style="background-image:url('../../assets/search.png')"></button>
        <button style="background-image:url('../../assets/toolbox.png')"></button>
        <button style="background-image:url('../../assets/user.png')"></button>
    </div>
</header>