<footer>
    <div class="footer-image">
        <div class="footer-image__content" data-aos="fade-up" data-aos-duration="1000">
            <h1 class="footer-title">На вартовій безпеки!</h1>
            <p>
                Війна триває, але за допомогою наших сміливих військових ми можемо далі працювати на користь нашої
                держави.
                Кожен робить те що він вміє, і ми в тому числі. Підтримуйте армію донатами та знищуйте малоросів в собі!
            </p>
            <div class="footer-phoneNumber">
                <img (mouseenter)="mouseEnter_icon_phone()" [@swing]="footer_icon_phone" src="../../assets/Phone.png"
                    alt="">
                <h1>+(38) 097 4600 711</h1>
            </div>
            <div class="footer-logos">
                <a href="https://www.facebook.com/profile.php?id=100088348806351" target="_blank">
                    <img (mouseenter)="mouseEnter_icon_1()" [@rubberBand]="footer_icon_1"
                        src="../../assets/facebook.png" alt="">
                </a>
                <a href="https://instagram.com/mr_mollan?igshid=YmMyMTA2M2Y=" target="_blank">
                    <img (mouseenter)="mouseEnter_icon_2()" [@rubberBand]="footer_icon_2" src="../../assets/twitter.png"
                        alt="">
                </a>
                <a href="https://twitter.com/ForceLogical" target="_blank"></a>
                <img (mouseenter)="mouseEnter_icon_3()" [@rubberBand]="footer_icon_3" src="../../assets/instgram.png"
                    alt="">
            </div>
            <h2>© 2022 MIT-21 - Всі права захищені.</h2>
        </div>
    </div>
</footer>