@import "../../styles.scss";

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

footer{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: $font_white;
    color: $bg_color;
}
.footer-image{
    background: url('../../assets/footer.png');
    position: relative;
    height: 100%;
    width: 100%;
}
.footer-image__content{
    
    height: 500px;
    @include for-size(for-big-15) {width: 520px; padding-left: 40px;}
    @include for-size(for-big-14) {width: 520px; padding-left: 40px;}
    @include for-size(for-big-13) {width: 620px; padding-left: 40px;}
    @include for-size(for-big-12) {width: 700px; padding-left: 100px;}
    @include for-size(for-big-11) {width: 800px; padding-left: 100px;}
    @include for-size(for-big-10) {width: 800px; padding-left: 100px;}
    @include for-size(for-big-9) {width: 1000px; padding-left: 200px;}
    @include for-size(for-large-1) {width: 1000px; padding-left: 200px;}
    padding-top: 80px;
    padding-right: 40px;
    .footer-title{   
        font-size: 38px;  
    }
    p{
        padding-top: 10px;
        @include for-size(for-big-15) {font-size: 13px;}
        @include for-size(for-big-13) {font-size: 13px;}
        @include for-size(for-big-12) {font-size: 15px;}
        @include for-size(for-big-1) {font-size: 15px;}
        @include for-size(for-large-4) {font-size: 15px;}
        @include for-size(for-large-2) {font-size: 15px;}
    }
    .footer-phoneNumber{
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        img{
            width: 60px;
        }
        h1{
            padding-top: 6px;
            font-size: 30px;
        }
    }
    .footer-logos{
        padding-top: 30px;
    }
    h2{
        padding-top: 30px;
        font-size: 15px;
    }
}