<footer>
    <div class="footer-image">
        <div class="footer-image__content">
            <h1 class="footer-title">На вартовій безпеки!</h1>
            <p>
                Війна триває, але за допомогою наших сміливих військових ми можемо далі працювати на користь нашої держави. 
                Кожен робить те що він вміє, і ми в тому числі. Підтримуйте армію донатами та знищуйте малоросів в собі!
            </p>
            <div class="footer-phoneNumber">
                <img src="../../assets/Phone.png" alt="">
                <h1>+(38) 099 099 99 99</h1>
            </div>
            <div class="footer-logos">
                <img src="../../assets/facebook.png" alt="">
                <img src="../../assets/twitter.png" alt="">
                <img src="../../assets/instgram.png" alt="">
            </div>
            <h2>© 2022 MIT-21 - Всі права захищені.</h2>
        </div>  
    </div>
</footer>