@import '../../styles.scss';

.add-form{
    display: flex;
    flex-wrap: wrap;
    height: 215px;
    width: auto;
    padding-left: 15px;
    padding-top: 40px;
    .technic-price{
        width: 100%;
        height: 215px;
        input{
            background-color: $btn_color;
            width: 150px;
            height: 44px;
            border-radius: 6px;
            border: 3px solid black;
            color: $font_white;
            cursor: pointer;
            font-size: 10px;
        }
        .technic-price__box{
            p{
                font-size: 18px;
            }
        }
    }
    .technic-box{
        width: 120px;
        img{
            width: 95px; height: 80px;
        }
        input{
            width: 50px;
        }
    }
}