@import '../../styles.scss';

img{
    width: 300px;
    height: 220px;
}
.add-form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    input{
        height: 50px;
    }
    .technic-price{
        display: flex;
        flex-wrap: wrap;
        background-color: bisque;
        width: 500px;
    }
}