@import '../../styles.scss';

.add-form{
    display: flex;
    flex-wrap: wrap;
    height: 315px;
    width: 1500px;
    width: auto;
    .technic-price{
        width: 300px;
        height: 498px;
        input{
            background-color: $btn_color;
            width: 150px;
            height: 44px;
            border-radius: 6px;
            border: 3px solid black;
            margin-top: 20px;
            margin-left: 75px;
            color: $font_white;
            cursor: pointer;
            font-size: 10px;
        }
        .technic-price__box{
            p{
                font-size: 20px;
                padding-bottom: 20px;
            }
        }
    }
    .technic-box{
        width: 120px;
        img{
            width: 95px; height: 80px;
        }
        label{
            font-size: 12px;
        }
        input{
            width: 50px;
        }
    }
    .mission-form__placeholder{    
        width: 95px; height: 80px;   
    }
}