@import '../../styles.scss';

img{
    width: 280px;
    height: 200px;
}
.mission-main{
    padding-top: 100px;
    background: url('../../assets/car_background.png');
    height: 500px;
    color: white;
    h1{
        padding-top: 50px;
        font-size: 40px;
        padding-left: 150px;
    }
    h2{
        font-size: 100px;
        text-transform: uppercase;
        color: $orange_color;
        padding-left: 150px;
    }
}
.mission-block{
    padding-left: 270px;
    padding-right: 200px;
    padding-top: 100px;
    background: url('../../assets/Background_main.png')top/ cover no-repeat;
    height: 2100px;
}
.mission-container{
    height: 1900px;
    width: 50%;
    border: 2px solid $header_color;
    display: flex;
    flex-wrap: wrap;
    padding: 35px 35px 35px 35px;
}
.technic-container{
    width: 45%;
}
section{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.technic-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}