@import '../../styles.scss';
@keyframes animation-border {
    0%,
    100% {
        clip-path: inset(0 99% 0 0);
    }
    
    25% {
        clip-path: inset(0 0 99% 0);
    }
    50% {
        clip-path: inset(0 0 0 99%);
    }
    75% {
        clip-path: inset(99% 0 0 0);
    }
}

.mission-main{
    padding-top: 100px;
    background: url('../../assets/car_background.png')top/ cover no-repeat;
    height: 500px;
    color: white;
    h1{
        padding-top: 50px;
        @include for-size(for-big-15) {font-size: 30px; padding-left: 50px;}
        @include for-size(for-big-12) {font-size: 30px; padding-left: 50px;}
        @include for-size(for-big-11) {font-size: 30px; padding-left: 150px;}
        @include for-size(for-big-9) {font-size: 30px;}
        @include for-size(for-big-8) {font-size: 40px; }
        @include for-size(for-big-1) {font-size: 40px; padding-left: 150px;} 
        
    }
    h2{
        text-transform: uppercase;
        color: $orange_color;
        @include for-size(for-big-15) {font-size: 50px; padding-left: 50px;}
        @include for-size(for-big-12) {font-size: 50px; padding-left: 50px;}
        @include for-size(for-big-11) {font-size: 70px; padding-left: 150px;}
        @include for-size(for-big-9) {font-size: 70px;}
        @include for-size(for-big-8) {font-size: 100px; }
        @include for-size(for-big-1) {font-size: 100px; padding-left: 150px;}

    }
}
.mission-block{
    @include for-size(for-big-15) {padding-left: 10px; padding-right: 10px; height: 1880px; background: url('../../assets/Main_Missions_mini.png')top/ cover no-repeat;} 
    @include for-size(for-big-14) {padding-left: 20px; padding-right: 20px; height: 1840px;}  
    @include for-size(for-big-13) {padding-left: 20px; padding-right: 30px; height: 2140px;} 
    @include for-size(for-big-9) {padding-left: 20px; padding-right: 30px; height: 2140px; background: url('../../assets/Main_Missions_mini.png')top/ cover no-repeat;} 
    @include for-size(for-big-8) {padding-left: 20px; padding-right: 20px; height: 2000px; background: url('../../assets/Main_Missions.png')top/ cover no-repeat;} 
    @include for-size(for-big-7) {padding-left: 20px; padding-right: 20px; height: 2000px;}  
    @include for-size(for-big-6) {padding-left: 20px; padding-right: 20px; height: 1850px;}  
    @include for-size(for-big-5) {padding-left: 50px; padding-right: 20px;} 
    @include for-size(for-big-4) {padding-left: 80px; padding-right: 20px;} 
    @include for-size(for-laptops) {padding-left: 100px; padding-right: 50px;} 
    @include for-size(for-big-3) {padding-left: 180px; padding-right: 100px;} 
    @include for-size(for-big-2) {padding-left: 240px; padding-right: 150px;}  
    @include for-size(for-big-1) {padding-left: 200px; padding-right: 200px; height: 1850px; background: url('../../assets/Main_Missions.png')top/ cover no-repeat;}  
    padding-top: 50px;
    
    display: block;
    
}
.map-box{
    width: 1500px;
    height: 60vh;
}
.mission-container{
    margin-top: 150px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border: 2px solid $header_color;
    @include for-size(for-big-15) {height: 400px; width: 100%; margin-left: 0px;}
    @include for-size(for-big-14) {height: 400px; width: 100%; margin-left: 0px;}
    @include for-size(for-big-13) {height: 500px; width: 100%; margin-left: 0px;}
    @include for-size(for-big-12) {height: 500px; width: 95%; margin-left: 30px;}
    @include for-size(for-big-11) {height: 500px; width: 95%; margin-left: 30px;}
    @include for-size(for-big-10) {height: 500px; width: 85%; margin-left: 100px;}
    @include for-size(for-big-9) {height: 500px; width: 75%; margin-left: 150px;}  
    @include for-size(for-big-8) {height: 500px; width: 75%; margin-left: 200px;} 
    @include for-size(for-big-7) {height: 500px; width: 75%; margin-left: 200px;} 
    @include for-size(for-big-6) {height: 250px; width: 100%; margin-left: 0px;} 
    @include for-size(for-big-3) {height: 250px; width: 100%; margin-left: 0px;} 
    @include for-size(for-big-2) {height: 260px; width: 100%; margin-left: 0px;} 
    @include for-size(for-big-1) {height: 275px; width: 100%; margin-left: 0px;}    
    
}
.mission-container::before,
.mission-container::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    
    box-shadow: inset 0 0 0 6px #95b5dc;
    animation: animation-border 100s linear infinite;
    @include for-size(for-big-15) {margin: -2%;}  
    @include for-size(for-big-7) {margin: -2%;}  
    @include for-size(for-big-6) {margin: -1%;}
    @include for-size(for-big-1) {margin: -1%;}

}
.mission-container::before {
    animation-delay: -50s;
}

.technic-container{
    width: 100%;
}
section{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.technic-box{
    width: 220px;
    height: 190px;
}
.technic-box__item{
    width: 220px;
    height: 190px;
}

.technic-list{
    justify-content: center;
    width: 100%;
    display: grid;
    padding: 10px 10px 10px 10px;
    @include for-size(for-big-15) {grid-template-columns: repeat(auto-fit, minmax(90px, auto)); gap: 20px 20px;}
    @include for-size(for-big-14) {grid-template-columns: repeat(auto-fit, minmax(100px, auto)); gap: 20px 20px;}
    @include for-size(for-big-13) {grid-template-columns: repeat(auto-fit, minmax(100px, auto)); gap: 40px 20px;}
    @include for-size(for-big-12) {grid-template-columns: repeat(auto-fit, minmax(125px, auto));}
    @include for-size(for-big-11) {grid-template-columns: repeat(auto-fit, minmax(150px, auto)); }
    @include for-size(for-big-3) {grid-template-columns: repeat(auto-fit, minmax(150px, auto));} 
    @include for-size(for-big-2) {grid-template-columns: repeat(auto-fit, minmax(160px, auto));} 
    @include for-size(for-big-1) {grid-template-columns: repeat(auto-fit, minmax(175px, auto)); gap: 40px 20px;}  
    
}
.technic-list__form{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    @include for-size(for-big-15) {gap: 20px; padding: 10px 10px 10px 10px;}
    @include for-size(for-big-14) {gap: 20px; padding: 10px 10px 10px 10px;}
    @include for-size(for-big-13) {gap: 5px; padding: 5px 5px 5px 5px;}
    @include for-size(for-big-12) {gap: 20px; padding: 10px 10px 10px 10px;}
    @include for-size(for-big-1) {gap: 20px; padding: 10px 10px 10px 10px;}  
    
}
img{
    width: 220px;
    height: 190px;
}
.pagination__footer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
    @include for-size(for-big-15) {padding-left: 26%;}
    @include for-size(for-big-10) {padding-left: 26%;}
    @include for-size(for-big-9) {padding-left: 36%;}
    @include for-size(for-big-1) {padding-left: 36%;}  

}
.selector__count{
    margin-top: -15px;
}