<div class="mission-main">
    <h1>Головна | Наряди</h1>
    <h2>Наряди</h2>
</div>
<section class="mission-block">
    <div class="mission-container">
        <div cdkDropList #missionList="cdkDropList" [cdkDropListData]="technicForMissionList"
        [cdkDropListConnectedTo]="[technicList]" class="technic-list" (cdkDropListDropped)="drop($event)">
        <app-add-mission-form [techForMission]="technicForMissionList"></app-add-mission-form>
        </div>
    </div>
    <div class="technic-container">
        <div cdkDropList #technicList="cdkDropList" [cdkDropListData]="allTechnicList" class="technic-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[missionList]">
            <div class="technic-box" *ngFor="let tech of allTechnicList">
                <img src="{{tech.image}}" alt="{{tech.name}}" cdkDrag>
            </div>
        </div>
    </div>
</section>
