<div class="mission-main">
    <h1>Головна | Наряди</h1>
    <h2>Наряди</h2>
</div>

<section class="mission-block">
    
    <app-add-mission-form  [techForMission]="technicForMissionList" (onAddMission)="addMission($event)"></app-add-mission-form>
    <div class="mission-container">
        <div cdkDropList #missionList="cdkDropList" [cdkDropListData]="technicForMissionList"
        [cdkDropListConnectedTo]="[technicList]" class="technic-list" (cdkDropListDropped)="drop($event)">
        <div class="technic-box" *ngFor="let tech of technicForMissionList">
            <img src="{{tech.image}}" alt="{{tech.name}}" cdkDrag>
            <label for="amount">Кількість Техніки</label>
            <input type="number" name="amount" [(ngModel)]="tech.amount" id="{{tech.name}}_amount" min="1" value="tech.amount"
                placeholder="Введіть Кількість"> 
        </div>
        <!-- (change)="outputUpdate() -->
        <img src="assets\placeholder.png" class="mission-form__placeholder">
        </div>
    </div>
    <div class="technic-container">
        <div cdkDropList #technicList="cdkDropList" [cdkDropListData]="allTechnicList" class="technic-list"
            (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[missionList]">
            <div class="technic-box" *ngFor="let tech of allTechnicList">
                <div class="technic-box__item" [ngStyle]="{'background-image': 'url(' +tech.image+ ')', 'background-size':'cover'}" cdkDrag></div>
            </div>
        </div>
    </div>
</section>
