img{
    width: 100px;
    height: 100px;
}
.mission-container,.technic-container
{
    border: 3px red solid;
    display: flex;
    justify-content: start;
}
.mission-container{
}
section{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}