<div class="filler-block"></div>
<div class="Main">
    <section class="main-parallax">
        <div class="main-parallax__smoke"><img src="../../assets/black_smoke(1).png" alt=""></div>
        <div class="main-parallax__human"><img src="../../assets/PngItem_3749117.png" alt=""></div>
        <div class="main-parallax__container">
            <div class="box-main">
                <img src="../../assets/icons8-medal-64.png" alt="">
                <h3>НАШІ ДОСЯГНЕННЯ</h3>
                <div class="box-main__p-container"><p>Ми є найбільшим логістичним відділом ЗСУ. Співпрацюємо з Головним командуванням. Маємо кращих логістичних спеціалістів.</p></div>
                <a class="btn btn__main-section" href="#">Дізнатися Більше</a>
            </div>
            <div class="box-main">
                <img src="../../assets/icons8-tank-50.png" alt="">
                <h3>ТЕХНІКА</h3>
                <div class="box-main__p-container"><p>У нашій базі 80% від усього передового автопарку бронемашин, танків та РСЗО ЗСУ</p></div>
                <a class="btn btn__main-section" href="#">Дізнатися Більше</a>
            </div>
            <div class="box-main">
                <img src="../../assets/icons8-fuel-gas-64.png" alt="">
                <h3>РОЗРАХУНОК</h3>
                <div class="box-main__p-container"><p>Проводимо розрахунок витрати палива для кожного автомобіля в залежності від його типу та складності маршруту</p></div>
                <a class="btn btn__main-section" href="#">Дізнатися Більше</a>
            </div>
        </div>
    </section>
    
</div>