@import '../../styles.scss';

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

.filler-block{
    height: 75px;
}
.Main{
    min-height: 100%;
    height: 1058px;
    width: 100%;
    background: url('../../assets/main_background.png')top/cover no-repeat;
    z-index: 2;
}
.main-parallax__human{
    @include for-size(for-big-6) {padding-left: 35%;}
    @include for-size(for-big-5) {padding-left: 35%;}
    @include for-size(for-big-4) {padding-left: 35%;}
    @include for-size(for-laptops) {padding-left: 36%;}
    @include for-size(for-big-3) {padding-left: 36%;}
    @include for-size(for-big-2) {padding-left: 39%;}
    @include for-size(for-big-1) {padding-left: 40%;}
    position: absolute;
    padding-top: 0px;
    height: 1200px;
    width: 500;
    z-index: 1;
}
.main-parallax__smoke{
    position: absolute;
    padding-top: 860px;
    height: 100%;
    width: 100%;
    z-index: 7;
}
.main-parallax__container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 500px;
    @include for-size(for-big-6) {padding-left: 150px;}
    @include for-size(for-big-5) {padding-left: 200px;}
    @include for-size(for-big-4) {padding-left: 250px;}
    @include for-size(for-laptops) {padding-left: 250px;}
    @include for-size(for-big-3) {padding-left: 350px;}
    @include for-size(for-big-2) {padding-left: 350px;}
    @include for-size(for-big-1) {padding-left: 450px;}
    @include for-size(for-large-4) {padding-left: 450px;}
    @include for-size(for-large-2) {padding-left: 500px;}
}
.box-main{
    width: 300px;
    height: 300px;
    background-color: $font_white;
    z-index: 7;
    border-radius: 5px;
    img{
        margin-top: 10px;
        margin-left: 120px;
        margin-bottom: 20px;
        width: 60px;
        height: auto;
    }
    h3{
        text-align: center;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .box-main__p-container{
        height: 80px;
        padding: 15px 15px 15px 15px;
        text-align: center;
    }

    .btn {
        text-align: center;
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: $font_white;
        text-transform: capitalize;
        background-color: $header_color;
        font: {
          size: 18px;
        }
        margin-left: 50px;
        margin-top: 20px;
        padding-top: 16px;
        width: 200px;
        height: 50px;
        border-radius: 7px;
        overflow: hidden;
      }

    .btn__main-section{
        transition: all 0.2s linear 0s;
        &:before {
            content: url('../../assets/Arrow.png');
            font-family: FontAwesome;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 30px;
            background-color: rgba(#6b6a6a,0.3);
            border-radius: 0 50% 50% 0;
            transform: scale(0,1);
            transform-origin: left center;
            transition: all 0.2s linear 0s;
        }
        &:hover {
            text-indent: 30px;
            
            &:before {
            transform: scale(1,1);
            text-indent: 0;
            }
        }
    }
}