<section class="Main">
    <div class="main-box-container">
        <div class="box-main">
            <!-- line for logo -->
            <h3>НАШІ ДОСЯГНЕННЯ</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-main">
            <!-- line for logo -->
            <h3>ТЕХНІКА</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-main">
            <!-- line for logo -->
            <h3>РОЗРАХУНОК</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
    </div>
</section>