@import '../../styles.scss';

.technic-item__detail{
    padding-top: 100px;
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    .technic-item__detail-box{
        h2{
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        img{
            height: auto;
            @include for-size(for-big-6) {width: 500px;}
            @include for-size(for-big-5) {width: 500px;}
            @include for-size(for-big-4) {width: 500px;}
            @include for-size(for-laptops) {width: 500px;}
            @include for-size(for-big-3) {width: 600px;}
            @include for-size(for-big-2) {width: 700px;}
            @include for-size(for-big-1) {width: 700px;}
        } 
    }
    .content{
        padding-top: 120px;
        @include for-size(for-big-6) {font-size: 20px; line-height: 30px;}
        @include for-size(for-big-5) {font-size: 20px; line-height: 30px;}
        @include for-size(for-big-4) {font-size: 20px; line-height: 30px;}
        @include for-size(for-laptops) {font-size: 20px; line-height: 30px;}
        @include for-size(for-big-3) {font-size: 25px; line-height: 45px;}
        @include for-size(for-big-2) {font-size: 25px; line-height: 45px;}
        @include for-size(for-big-1) {font-size: 25px; line-height: 45px;}
        .line{
            width: 100%;
            height: 3px;
            background-color: $header_color;
        }
        button{
            background-color: $btn_color;
            width: 150px;
            height: 44px;
            border-radius: 6px;
            font-size: 20px;
            border: 3px solid black;
            margin-top: 30px;
            color: $font_white;
            cursor: pointer;
        }
    }
}