@import '../../styles.scss';

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

.About{
    transform: translateY(0%);
    position: relative;
    background-color: $bg_color;
    margin-top: 130px;
    z-index: 2;
    @include for-size(for-big-15) {height: 700px;}
    @include for-size(for-big-14) {height: 725px;}
    @include for-size(for-big-13) {height: 755px;}
    @include for-size(for-big-12) {height: 775px;}
    @include for-size(for-big-11) {height: 800px;}
    @include for-size(for-big-10) {height: 850px;}
    @include for-size(for-big-9) {height: 900px;}
    @include for-size(for-big-8) {height: 1000px;}
    @include for-size(for-big-7) {height: 450px;}
    @include for-size(for-big-6) {height: 450px;}
    @include for-size(for-big-5) {height: 500px;}
    @include for-size(for-laptops) {height: 550px;}
    @include for-size(for-big-3) {height: 650px;}
    @include for-size(for-big-2) {height: 650px;}
    @include for-size(for-big-1) {height: 700px;}
    top: -130px;
}
.about__container{
    color: $font_white;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    @include for-size(for-big-15) {gap: 20px;}
    @include for-size(for-big-9) {gap: 20px;}
    @include for-size(for-big-8) {gap: 30px;}
    @include for-size(for-big-7) {gap: 100px;}
    @include for-size(for-big-6) {gap: 150px;}
    @include for-size(for-big-1) {gap: 150px;}
    img{
        @include for-size(for-big-15) {height: 270px; padding-left: 10%; padding-right: 16vw;}
        @include for-size(for-big-14) {height: 300px; padding-left: 10%; padding-right: 16vw;}
        @include for-size(for-big-13) {height: 350px; padding-left: 10%; padding-right: 16vw;} 
        @include for-size(for-big-12) {height: 400px; padding-left: 10%; padding-right: 16vw;} 
        @include for-size(for-big-11) {height: 450px; padding-left: 9%; padding-right: 16vw;} 
        @include for-size(for-big-10) {height: 500px; padding-left: 9%; padding-right: 16vw;}
        @include for-size(for-big-9) {height: 550px; padding-left: 10%; padding-right: 14vw;}
        @include for-size(for-big-8) {height: 600px; padding-left: 10%; padding-right: 12vw;}
        @include for-size(for-big-7) {height: 425px; padding-left: 0vw; padding-right: 0vw;}
        @include for-size(for-big-6) {height: 425px;}
        @include for-size(for-big-5) {height: 450px;}
        @include for-size(for-big-3) {height: 500px;}
        @include for-size(for-big-2) {height: 550px;}
        @include for-size(for-big-1) {height: 600px; padding-left: 0vw; padding-right: 0vw;}
        width: auto;
    }
    .about__text{
        font-size: 20px;
        @include for-size(for-big-15) {width: 1350px; margin-top: 0px; padding-left: 12vw; padding-right: 12vw; text-align: center;}
        @include for-size(for-big-14) {width: 1350px; margin-top: 0px; padding-left: 12vw; padding-right: 12vw; text-align: center;}
        @include for-size(for-big-13) {width: 1350px; margin-top: 0px; padding-left: 12vw; padding-right: 12vw; text-align: center;}
        @include for-size(for-big-12) {width: 1300px; margin-top: 0px; padding-left: 12vw; padding-right: 12vw; text-align: center;}
        @include for-size(for-big-11) {width: 1500px; margin-top: 0px; padding-left: 16vw; padding-right: 16vw; text-align: center;}
        @include for-size(for-big-10) {width: 1500px; margin-top: 0px; padding-left: 16vw; padding-right: 16vw; text-align: center;}
        @include for-size(for-big-9) {width: 1500px; margin-top: 0px; padding-left: 20vw; padding-right: 20vw; text-align: center;}
        @include for-size(for-big-8) {width: 1000px; margin-top: 0px; padding-left: 20vw; padding-right: 10vw; text-align: center;}
        @include for-size(for-big-7) {width: 450px; margin-top: 20px;  padding-left: 0vw; padding-right: 0vw; text-align:left;}
        @include for-size(for-big-6) {width: 510px; margin-top: 20px;}
        @include for-size(for-big-5) {width: 570px; margin-top: 30px;}
        @include for-size(for-big-3) {width: 640px; margin-top: 40px;}
        @include for-size(for-big-1) {width: 700px; margin-top: 50px; padding-left: 0vw; padding-right: 0vw; text-align:left;}
        p{
            @include for-size(for-big-15) {font-size: 13px; margin-top: 20px;}
            @include for-size(for-big-9) {font-size: 13px; margin-top: 20px;}
            @include for-size(for-big-8) {font-size: 14px; margin-top: 30px;}
            @include for-size(for-big-5) {font-size: 14px; margin-top: 30px;}
            @include for-size(for-big-3) {font-size: 16px;margin-top: 50px;}
            @include for-size(for-big-2) {font-size: 18px;margin-top: 50px;}
            @include for-size(for-big-1) {font-size: 18px; margin-top: 50px;}
        }
        .h1__colored, h1{
            text-transform: uppercase;
            @include for-size(for-big-15) {font-size: 40px;letter-spacing: 1px;}
            @include for-size(for-big-9) {font-size: 40px;letter-spacing: 1px;}
            @include for-size(for-big-8) {font-size: 40px;}
            @include for-size(for-big-7) {font-size: 40px;letter-spacing: 1px;}
            @include for-size(for-big-5) {font-size: 50px; letter-spacing: 3px;}
            @include for-size(for-laptops ) {font-size: 60px;}
            @include for-size(for-big-3) {font-size: 70px;}
            @include for-size(for-big-1) {font-size: 80px; letter-spacing: 3px;}
            font-weight: 900;
        }
        .h1__colored{
          color: $orange_color;
        }
        button {
            @include for-size(for-big-15) {margin-top: 0px;}
            @include for-size(for-big-9) {margin-top: 0px;}
            @include for-size(for-big-8) {margin-top: 10px;}
            @include for-size(for-big-7) {margin-top: 15px;}
            @include for-size(for-big-6) {margin-top: 15px;}
            @include for-size(for-big-5) {margin-top: 25px;}
            @include for-size(for-big-4) {margin-top: 35px;}
            @include for-size(for-big-3) {margin-top: 55px;}
            @include for-size(for-big-1) {margin-top: 55px;}
            width: 200px; height: 70px; 
            background: none;
            border: 0;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 1em 2em;
            cursor: pointer;
            box-shadow: inset 0 0 0 2px $orange_color;
            color: $orange_color;
            font-size: inherit;
            font-weight: 700;
            font-family: 'PT Sans Narrow', sans-serif;
            letter-spacing: 0.75px;
            position: relative;
            vertical-align: middle;
            &::before,
            &::after {
              box-sizing: inherit;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        .draw {
            transition: color 0.25s;
        
          &::before,
          &::after {
            border: 2px solid transparent;
            border-radius: 2px;
            width: 0;
            height: 0;
          }
          &::before {
            top: 0;
            left: 0;
          }
          &::after {
            bottom: 0;
            right: 0;
          }
          
          &:hover {
            color: $font_white;
          }
        
          &:hover::before,
          &:hover::after {
            width: 100%;
            height: 100%;
          }
        
          &:hover::before {
            border-top-color: $font_white; 
            border-right-color: $font_white;
            transition:
              width 0.25s ease-out, 
              height 0.25s ease-out 0.25s; 
          }
        
          &:hover::after {
            border-bottom-color: $font_white; 
            border-left-color: $font_white;
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s; 
          }
        }
    }
}