@import '../../styles.scss';

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

.About{
    transform: translateY(0%);
    position: relative;
    background-color: $bg_color;
    margin-top: 130px;
    z-index: 2;
    @include for-size(for-big-6) {height: 550px;}
    @include for-size(for-big-5) {height: 600px;}
    @include for-size(for-big-3) {height: 650px;}
    @include for-size(for-big-2) {height: 700px;}
    @include for-size(for-big-1) {height: 700px;}
    top: -130px;
}
.about-images{
    position: absolute;
    width: 100%;
    height: 185px;
    top: 0;
    left: 0;
}
.about__container{
    color: $font_white;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    img{
        @include for-size(for-big-6) {height: 425px;}
        @include for-size(for-big-5) {height: 450px;}
        @include for-size(for-big-3) {height: 500px;}
        @include for-size(for-big-2) {height: 550px;}
        @include for-size(for-big-1) {height: 600px;}
        width: auto;
    }
    .about__text{
        font-size: 20px;
        @include for-size(for-big-6) {width: 510px; margin-top: 20px;}
        @include for-size(for-big-5) {width: 570px; margin-top: 30px;}
        @include for-size(for-big-3) {width: 640px; margin-top: 40px;}
        @include for-size(for-big-1) {width: 700px; margin-top: 50px;}
        p{
            margin-top: 50px;
            @include for-size(for-big-5) {font-size: 20px;}
            @include for-size(for-big-3) {font-size: 22px;}
            @include for-size(for-big-1) {font-size: 24px;}
        }
        .h1__colored, h1{
            text-transform: uppercase;
            @include for-size(for-big-6) {font-size: 55px;}
            @include for-size(for-big-5) {font-size: 60px;}
            @include for-size(for-big-3) {font-size: 70px;}
            @include for-size(for-big-1) {font-size: 80px;}
            font-weight: 900;
            letter-spacing: 3px;
        }
        .h1__colored{
          
          color: $orange_color;
        }
        .about__btn{
            @include for-size(for-big-6) {width: 140px; height: 60px;}
            @include for-size(for-big-4) {width: 160px; height: 60px;}
            @include for-size(for-big-3) {width: 180px; height: 70px;}
            @include for-size(for-big-1) {width: 200px; height: 70px;}
            margin-top: 55px;
            border: 3px solid $orange_color;
            border-radius: 7px;
            background-color: $transparent_color;
            color: $font_white;
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 25px;
            cursor: pointer;
            letter-spacing: 1px;
        }
        button {
            background: none;
            border: 0;
            box-sizing: border-box;
            border-radius: 2px;
            margin-top: 55px;
            padding: 1em 2em;
            cursor: pointer;
            box-shadow: inset 0 0 0 2px $orange_color;
            color: $orange_color;
            font-size: inherit;
            font-weight: 700;
            font-family: 'PT Sans Narrow', sans-serif;
            letter-spacing: 0.75px;
            position: relative;
            vertical-align: middle;
            &::before,
            &::after {
              box-sizing: inherit;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        .draw {
            transition: color 0.25s;
        
          &::before,
          &::after {
            border: 2px solid transparent;
            border-radius: 2px;
            width: 0;
            height: 0;
          }
          &::before {
            top: 0;
            left: 0;
          }
          &::after {
            bottom: 0;
            right: 0;
          }
          
          &:hover {
            color: $font_white;
          }
        
          &:hover::before,
          &:hover::after {
            width: 100%;
            height: 100%;
          }
        
          &:hover::before {
            border-top-color: $font_white; 
            border-right-color: $font_white;
            transition:
              width 0.25s ease-out, 
              height 0.25s ease-out 0.25s; 
          }
        
          &:hover::after {
            border-bottom-color: $font_white; 
            border-left-color: $font_white;
            transition:
              border-color 0s ease-out 0.5s,
              width 0.25s ease-out 0.5s,
              height 0.25s ease-out 0.75s; 
          }
        }
    }
}