@import '../../styles.scss';

.technic-block{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding-left: 200px;
    .container{
        
        background-color:rgb(136, 135, 133);
        border: 7px solid $orange_color;
        border-radius: 20px;
        margin-top: 50px;
        width: 60%;
        height: 1400px;
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        app-technic-item{
            height: 250px;
        }
    }
    .filters{
        padding-top: 50px;
        width: 400px;
        height: 800px;
        display: grid;
        h1{
            font-size: 40px;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 1px;
            color: $orange_color;
            text-align: center;
        }
        button{
            width: 300px;
            margin-left: 50px;
            cursor: pointer;
            border: 3px solid $header_color;
            border-radius: 5px;
            background: none;
            font-size: 30px;
        }
    }
}