@import '../../styles.scss';

.technic-block{
    display: flex;
    flex-wrap: wrap;
    @include for-size(for-big-12) {padding-left: 0; gap: 150px; height: 1200px;}
    @include for-size(for-big-8) {padding-left: 0; gap: 150px; height: 1200px;}
    @include for-size(for-big-7) {padding-left: 20px; gap: 40px; height: 850px;}
    @include for-size(for-big-6) {padding-left: 20px; gap: 50px; height: 850px;}
    @include for-size(for-big-5) {padding-left: 50px; gap: 50px; height: 900px;}
    @include for-size(for-big-4) {padding-left: 100px; gap: 50px;}
    @include for-size(for-laptops) {padding-left: 100px; gap: 50px; height: 900px;}
    @include for-size(for-big-3) {padding-left: 150px; gap: 50px; height: 900px;}
    @include for-size(for-big-2) {padding-left: 180px; gap: 50px; height: 1000px;}
    @include for-size(for-big-1) {padding-left: 200px; gap: 50px; height: 1100px;}
    
    .container{
        margin: 0px;
        margin-top: 50px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        @include for-size(for-big-12) {gap: 5px; width: 100%; margin-left: 5vw;}
        @include for-size(for-big-11) {gap: 5px; width: 100%; margin-left: 7vw;}
        @include for-size(for-big-10) {gap: 5px; width: 100%; margin-left: 10vw;}
        @include for-size(for-big-9) {gap: 5px; width: 100%; margin-left: 10vw;}
        @include for-size(for-big-8) {gap: 5px; width: 100%; margin-left: 15vw;}
        @include for-size(for-big-7) {gap: 5px; width: 70%; padding-left: 30px; margin-left: 0px;}
        @include for-size(for-big-6) {gap: 5px; width: 70%; padding-left: 70px;}
        @include for-size(for-big-5) {gap: 15px; width: 70%; padding-left: 100px;}
        @include for-size(for-big-4) {gap: 25px; width: 60%; padding-left: 0px;}
        @include for-size(for-laptops) {gap: 30px;}
        @include for-size(for-big-3) {gap: 40px;}
        @include for-size(for-big-2) {gap: 60px;}
        @include for-size(for-big-1) {gap: 70px; width: 60%; padding-left: 0px; margin-left: 0px;}  
        app-technic-item{
            @include for-size(for-big-7) {width: 250px; height: 200px;}
            @include for-size(for-big-1) {width: 250px; height: 250px;}  
        }
        .technic__pagination{
          @include for-size(for-big-12) {padding-top: 60px;}
          @include for-size(for-big-2) {padding-top: 60px;}
          @include for-size(for-big-1) {padding-top: 0px;} 
          padding-left: 26%;
        }
    }
    .filters{
        padding-top: 150px;
        @include for-size(for-big-12) {width: 1200px; height: 450px;}
        @include for-size(for-big-8) {width: 1200px; height: 450px;}
        @include for-size(for-big-7) {width: 300px; height: 700px;}
        @include for-size(for-big-6) {width: 300px;}
        @include for-size(for-big-5) {width: 340px;}
        @include for-size(for-big-4) {width: 400px;}
        @include for-size(for-big-1) {width: 400px; height: 700px;} 
        
        display: grid;
        .filters__buttons{
          @include for-size(for-big-15) {display: flex; flex-wrap: wrap; justify-content: center;}
          @include for-size(for-big-8) {display: flex; flex-wrap: wrap; justify-content: center;}
          @include for-size(for-big-7) {display: block; flex-wrap: nowrap;}
          @include for-size(for-big-1) {display: block; flex-wrap: nowrap;} 
          
        }
        h1{
            @include for-size(for-big-12) {font-size: 40px;}
            @include for-size(for-big-5) {font-size: 40px;}
            @include for-size(for-big-4) {font-size: 60px;}
            @include for-size(for-big-1) {font-size: 60px;} 
            
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 1px;
            color: $header_color;
            
        }
        button {
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: 2px solid $orange_color;
            border-radius: 0.6em;
            color: $orange_color;
            cursor: pointer;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;

            
            margin-left: 50px;
            padding-top: 14px;
            padding-left: 45px;
            font-weight: 400;
            margin: 20px;
            height: 60px;

            @include for-size(for-big-12) {width: 96%; font-size: 18px; padding-left: 40%;}
            @include for-size(for-big-8) {width: 96%; font-size: 18px; padding-left: 40%;}
            @include for-size(for-big-7) {width: 230px; font-size: 18px; padding-left: 25px;}
            @include for-size(for-big-5) {width: 230px; font-size: 18px; padding-left: 25px;}
            @include for-size(for-big-4) {width: 300px; font-size: 20px; padding-left: 45px;}
            @include for-size(for-big-1) {width: 300px; font-size: 20px; padding-left: 45px;} 

            text-decoration: none;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
          }
          button:hover, .btn:focus {
            color: #fff;
            outline: 0;
          }
          .Filters {
            -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
          }
          .Filters:hover {
            box-shadow: 0 0 40px 40px $orange_color inset;
          }
    }
}