<section class="Services">
    <div class="services-title">
        <h1 class="services-title__colored">Наші</h1>
        <h1>Послуги</h1>
    </div>
    <div class="services-box">
        <div class="services-box__content">
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_1()" [@jello]="services_icon_1" src="../../assets/hangar.png" alt="" class="services-box__icon">
                <h1>Облік військової техніки</h1>
                <div class="services-box__paragraph-box"><p>
                    Ми ведемо облік майже усієї техніки яка знаходиться на використанні ЗСУ. 
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_2()" [@jello]="services_icon_2" src="../../assets/pump.png" alt="" class="services-box__icon">
                <h1>Розрахунок витрати палива</h1>
                <div class="services-box__paragraph-box"><p>
                    Розрахування скільки знадобиться палива для проходження побудованого маршруту для певної кількості техніки. 
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_3()" [@jello]="services_icon_3" src="../../assets/road.png" alt="" class="services-box__icon">
                <h1>Оцінка маршруту експертами</h1>
                <div class="services-box__paragraph-box"><p>
                    Поради що до збільшення користі від маршруту.  
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
        </div>
        <div class="services-box__content">
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_4()" [@jello]="services_icon_4" src="../../assets/helmet.png" alt="" class="services-box__icon">
                <h1>Формування наряду</h1>
                <div class="services-box__paragraph-box"><p>
                    Формування групи техніки для патрулювання, захисту позицій, доставки припасів або заняття інших позицій.  
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_5()" [@jello]="services_icon_5" src="../../assets/helmet.png" alt="" class="services-box__icon">
                <h1>Облік військової техніки</h1>
                <div class="services-box__paragraph-box"><p>
                    Ми ведемо облік майже усієї техніки яка знаходиться на використанні ЗСУ. 
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
            <div class="services-box__block">
                <img (mouseenter) ="mouseEnter_icon_6()" [@jello]="services_icon_6" src="../../assets/helmet.png" alt="" class="services-box__icon">
                <h1>Облік військової техніки</h1>
                <div class="services-box__paragraph-box"><p>
                    Ми ведемо облік майже усієї техніки яка знаходиться на використанні ЗСУ. 
                </p></div>
                <img src="../../assets/DOTS_icon.png" alt="" class="services-box__dots">
                <a href="#">Детальніше ></a>
            </div>
        </div>
    </div>
</section>