<section class="Services">
    <div class="services-box-container">
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
        <div class="box-service">
            <!-- line for logo -->
            <h3>Безпека</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim quo ullam rem temporibus praesentium tempore architecto in nulla neque? Accusamus iure repellendus molestias eligendi corrupti magni non nesciunt neque libero?</p>
            <button class="btn"></button>
        </div>
    </div>
</section>