<section class="Comments">
    <div class="comments-box-container">
        <div class="box-comment">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, suscipit? Facilis itaque fugiat mollitia tempore? Itaque at quam veniam illum impedit sit a, iure quis optio eum adipisci repellat neque.</p>
            <div class="comment-img">

            </div>
            <h4 class="commment-name">Зубенко М.П.</h4>
        </div>
        <div class="box-comment">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, suscipit? Facilis itaque fugiat mollitia tempore? Itaque at quam veniam illum impedit sit a, iure quis optio eum adipisci repellat neque.</p>
            <div class="comment-img">

            </div>
            <h4 class="commment-name">Зубенко М.П.</h4>
        </div>
        <div class="box-comment">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias, suscipit? Facilis itaque fugiat mollitia tempore? Itaque at quam veniam illum impedit sit a, iure quis optio eum adipisci repellat neque.</p>
            <div class="comment-img">

            </div>
            <h4 class="commment-name">Зубенко М.П.</h4>
        </div>
    </div>
</section>