<section class="Comments">
    <div class="comments-title">
        <h1 class="comments-title__colored">Наші</h1>
        <h1>Відгуки</h1>
    </div>
    <div class="comments-box">
        <div class="comments-box__content" data-aos="flip-left">
            <div>
                <p>
                    Дякую за такий продуманий маршрут. Вдалося за один виїзд не тільки доставити запаси на позиції,
                    а ще й відтягнути пошкоджену техніку до місця ремонту. Витратили на це всього на годину більше, 
                    замість повторного виїзду
                </p>
            </div>
            <img (mouseenter) ="mouseEnter_comment_1()" [@jello]="comments_icon_1" src="../../assets/coments.png" alt="">
            <h1 (mouseenter) ="mouseEnter_title_1()" [@pulse]="comments_title_1">Марія О.А.</h1>
        </div>
        <div class="comments-box__content" data-aos="flip-left">
            <div>
                <p>
                    За короткий проміжок часу вдалося побувати на трьох ключових позиціях та виявити ворожий патруль.
                    Хлопці розробили дуже ефективний маршрут!
                </p>
            </div>
           <img (mouseenter) ="mouseEnter_comment_2()" [@jello]="comments_icon_2" src="../../assets/coments.png" alt="">
           <h1 (mouseenter) ="mouseEnter_title_2()" [@pulse]="comments_title_2">Олександр Б.С .</h1>
        </div>
        <div class="comments-box__content" data-aos="flip-left">
            <div>
                <p>
                    В захваті від конфігурації наряду. Порадили нову стратегію, за допомогою якої наряд військових пересувається 
                    дуже швидко, а в разі нападу може сам себе захистити і в разі потреби отримати підтримку від РЗСО з тилу.
                </p>
            </div>
           <img (mouseenter) ="mouseEnter_comment_3()" [@jello]="comments_icon_3" src="../../assets/coments.png" alt="">
           <h1 (mouseenter) ="mouseEnter_title_3()" [@pulse]="comments_title_3">Віктор П.Ю.</h1>
        </div>
    </div>
</section>