@import '../../styles.scss';

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

.Comments{
    top: -110px;
    position: relative;
    height: 650px;
    width: 100%;
    background-color: $bg_color;
}
.comments-title{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $font_white;
    width: 500px;
    @include for-size(for-big-6) {margin-left: 460px;}
    @include for-size(for-big-5) {margin-left: 500px;}
    @include for-size(for-big-4) {margin-left: 560px;}
    @include for-size(for-big-3) {margin-left: 600px;}
    @include for-size(for-big-2) {margin-left: 640px;}
    @include for-size(for-big-1) {margin-left: 680px;}
    @include for-size(for-large-4) {margin-left: 720px}
    @include for-size(for-large-2) {margin-left: 760px}
    padding-top: 50px;
    font-size: 80px;
    .comments-title__colored{
        color: $orange_color;
    }
}
.comments-box{
    display: flex;
    flex-wrap: wrap;
    
    @include for-size(for-big-6) {margin-left: 72.5px; gap: 35px;}
    @include for-size(for-big-5) {margin-left: 82.5px; gap: 45px;}
    @include for-size(for-big-4) {margin-left: 102.5px; gap: 65px;}
    @include for-size(for-big-3) {margin-left: 102.5px; gap: 65px;}
    @include for-size(for-big-2) {margin-left: 122.5px; gap: 65px;}
    @include for-size(for-big-1) {margin-left: 172.5px; gap: 65px;}
    @include for-size(for-large-4) {margin-left: 202.5px; gap: 65px;}
    @include for-size(for-large-2) {margin-left: 252.5px; gap: 65px;}
    padding-top: 50px;
    .comments-box__content{
        padding: 52px 43px 43px 23px;
        @include for-size(for-big-6) {width: 380px; height: 400px;}
        @include for-size(for-big-5) {width: 400px; height: 400px;}
        @include for-size(for-big-4) {width: 400px; height: 400px;}
        @include for-size(for-big-3) {width: 450px; height: 400px;}
        @include for-size(for-big-1) {width: 450px; height: 400px;}
        
        background-color: $font_white;
        border-radius: 12px;
        color: $bg_color;
        div{
            height: 120px;
        }
        p{
            text-align: center;
            font-size: 22px;
        }
        img{
            @include for-size(for-big-6) {padding-left: 110px;}
            @include for-size(for-big-5) {padding-left: 130px;}
            @include for-size(for-big-4) {padding-left: 130px;}
            @include for-size(for-big-3) {padding-left: 150px;}
            @include for-size(for-big-1) {padding-left: 150px;}
            padding-top: 30px;
        }
        h1{
            font-size: 30px;
            font-weight: 900;
            text-align: center;
            padding-top: 20px;

            cursor: default;
        }
    }
}