@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img{
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
html { overflow-x: hidden; }
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: 'PT Sans Narrow', sans-serif;
}

$header_color: #363636;
$font_white: #fff;
$transparent_color: rgba(28,28,28,0);
$btn_color: #2a333b;
$bg_color: #0b1d26;
$orange_color: #d5b23f;

@mixin for-size($size) {
    @if $size == for-big-13   {
        @media (max-width: 600px) { @content; }
    } @else if $size == for-big-12  {
        @media (min-width: 700px) { @content; }
    } @else if $size == for-big-11  {
        @media (min-width: 800px) { @content; }
    } @else if $size == for-big-10 {
        @media (min-width: 900px) { @content; }
    } @else if $size == for-big-9  {
        @media (min-width: 1000px) { @content; }
    } @else if $size == for-big-8  {
        @media (min-width: 1100px) { @content; }
    } @else if $size == for-big-7  {
        @media (min-width: 1200px) { @content; }
    } @else if $size == for-big-6 {
        @media (min-width: 1300px) { @content; }
    } @else if $size == for-big-5  {
        @media (min-width: 1400px) { @content; }
    } @else if $size == for-big-4  {
        @media (min-width: 1500px) { @content; }
    } @else if $size == for-big-3  {
        @media (min-width: 1600px) { @content; }
    } @else if $size == for-big-2 {
        @media (min-width: 1700px) { @content; }
    } @else if $size == for-big-1  {
        @media (min-width: 1800px) { @content; }
    }
}

@mixin for-height($height) {
    @if $height == for-height-6   {
        @media (max-height: 775px) { @content; }
    } @else if $height == for-height-5  {
        @media (min-height: 800px) { @content; }
    } @else if $height == for-height-4  {
        @media (min-height: 825px) { @content; }
    } @else if $height == for-height-3  {
        @media (min-height: 850px) { @content; }
    } @else if $height == for-height-2 {
        @media (min-height: 875px) { @content; }
    } @else if $height == for-height-1  {
        @media (min-height: 900px) { @content; }
    }
}